.statistics {
  width: 400px;
  margin: 50px auto;
  padding-top: 10px;
  background-color: rgb(226, 228, 228);
  box-shadow: 9px 12px 25px -4px rgba(0, 0, 0, 0.74);
}

.statTitle {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.statList {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.statListItem {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  text-shadow: 2px 2px 2px #181818;
}

.statListLabel {
  display: block;
}

.statListPercentage {
  display: block;
  font-size: 26px;
}
